button {
   border-radius: 0.25rem !important;
}
button::after, button::before {
    display: none !important;
}
button:hover {
    border-radius: 0.25rem !important;
    background-color: rgb(34, 34, 34);
}

button:focus:active {
    background-color: rgb(45, 45, 45);
    color: rgb(217, 217, 217);
}

aside nav {
    display: flex;
    gap: 0.25rem;
}